* {
    margin: 0 auto;
    padding: 0 ;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    /* background: #6b5af9; */
    position: relative;
  }
  
 .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/Images/Rara3.jpg") center/cover no-repeat;
    filter: blur(8px);
    z-index: -1;
  }
  
  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .form-toggle {
    display: none;
  }
  
  .card {
    background: #fff;
    width: 560px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 50px;
    text-align: center;
    display: block;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .card p {
    margin-bottom: 20px;
    color: #555;
    font-size: 0.9rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  form input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem;
  }
  
  form button {
    padding: 10px;
    background: #6b5af9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
  }
  
  form button:hover {
    background: #5748d5;
  }
  
  
  .forgot-password-section, .new-password-section {
    display: block;
  }
  
  #new-password-toggle:checked ~ .container .card .new-password-section {
    display: block;
  }
  
  /* Forgot Password Section: Hide until radio button is checked */
  #forgot-password-toggle:checked ~ .container .card .forgot-password-section {
    display: block;
  }
  
  #forgot-password-toggle:checked ~ .container .card .new-password-section {
    display: none;
  }
  
  .info-box {
    background: #e8f7e5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #2c7a2a;
  }
  